<%= render 'role/header' %>

<%# 投稿詳細 %>
<div class="post-show">
    <table class="detail-table">
      <tbody> 
        <tr>
          <th class="detail-post">カラム名</th>
        </tr>
        <tr>
          <td class="detail-value"><%= @post.title %></td>
        </tr>
        <tr>
          <th class="detail-post">詳細</th>
        </tr>
        <tr>
          <td class="detail-value"><%= @post.description %></td>
        </tr>
      </tbody>
      <tr id='like_posts_buttons_<%= @post.id %>'>
        <%= render partial: 'like_posts/like', locals: {post: @post} %>
      </tr>
    </table>
    <% if current_user.id == @post.user_id %>
        <%= link_to 'カラムの編集', edit_post_path(@post.id), method: :get, class: "post-edit-btn" %>
        <%= link_to "カラムの削除", post_path(@post.id), method: :delete, class:"post-destroy" %>
      <% else %>
      <% end %>
  </div>
</div>
<%# 投稿詳細 %>

<%# コメントフォーム %>
  <div class="comment-wrapper">
    <% if user_signed_in? %>
    <div class="comment-form">
      <%= form_with(model: [@post, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする",row: 4, class: "comment-input" %>
        <%= form.submit "SEND", class: "comment-submit" %>
      <% end %>
    </div>
    <% end %>
<%# コメントフォーム %>

<%# コメント一覧 %>
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
      <div class="comment-show">
        <p class ="comment-name">
          <%=comment.user.name %>
        </p>
        <div class="comment">
          <p class="comment-text">
            <%= comment.text %>         
          </p>
          <div id='like_comments_buttons_<%= comment.id %>'>
            <%= render partial: 'like_comments/like', locals: {comment: comment} %> 
          </div>
        </div>
      </div>
      <% end %>
<%# コメント一覧 %>
    </div>
  </div>
